@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: #0a0a0a;*/
    --background: #080708;
    /*--background: #131515;*/
    --foreground: #ededed;

    --primary: #131515;

    --secondary: #7cc6fe;
    --accent: #1DB954;
    /*--accent: #23c9ff;*/
    --warn: #df2935;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* Hero Image */
  .card-fader:nth-child(odd) {
    @apply animate-fade-left;
    animation-iteration-count: infinite;
  }
  .card-fader:nth-child(even) {
    @apply animate-fade-right;
    animation-iteration-count: infinite;
  }
  .card-fader:is(:nth-child(3), :nth-child(4)) {
    animation-delay: 750ms;
  }
  .card-fader:is(:nth-child(5), :nth-child(6)) {
    animation-delay: 1500ms;
  }
  .card-fader:is(:nth-child(7), :nth-child(8)) {
    animation-delay: 2250ms;
  }
  /* Hero Image */
}
